/* GENERAL STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    height: 100vh;
    /* Gestione sfondo posteriore al container dell'app con grandezza 100% della vh */
    background-image: linear-gradient(
        to bottom,
        #009788 0%,
        #009788 20%,
        #d5dbd9 20%,
        #d5dbd9 100%
    );
    /* Flex per posizionare il container dell'app al centro dello schermo */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* UTILITY CLASSES */

/* Typhography */
p {
    font-size: 16px;
    color: #2f373d;
}

i {
    font-size: 22px;
    color: #bbbbbb;
    transition: color, .2s ;
}

i:hover {
    color: #868686;
}

/* Sizing and styles avatar */
.contact-img {
    border-radius: 100%;
    max-width: 45px;
    margin: 10px;
}
/* Common settings and :hover for input text */
.search-account,
.text-bar {
    border-radius: 5px;
    border: 0;
    outline: 0;
    background: rgba(255,255,255, .7); 
    transition: background .2s;
}

.search-account:hover,
.text-bar:hover {
    background: #fff;
}


/* LAYOUT APP */

/* Container intera app */
.app-container {
    display: flex;
    width: 80%;
    height: 90%;
    /* Essendo un applicativo specificatamente pensato per il web non voglio scendere sotto i 900px di grandezza per quanto concerne l'intero app-container */
    min-width: 900px;
}

/* SIDEBAR */
.sidebar {
    flex-basis: 40%;
    display: flex;
    /* Gestione elementi interni in direzione verticale */
    flex-direction: column;
}

/* User info area */
/* User info & main header hanno alcune caratteristiche in comune che raccolgo qua per assicurarmi coerenza stilistica tra i due e ottimizzare il dispendio di codice */
.user-info,
.main-header {
    flex-basis: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background :#edeeec;
}

.user-info {
    border-right: 1px solid #bbbbbb;
}


.user-bio {
    display: flex;
    align-items: center;
}

/* Notification settings area */
.notification-setting {
    flex-basis: 15%;
    display: flex;
    align-items: center;
    background: #92dcf7;
}

.notification-setting i{
    color: #92dcf7;
    background-color: #fff;
    border-radius: 100%;
    padding: 15px;
    margin-left: 20px;
    margin-right: 10px;
}

.notification-info a {
    font-size: 12px;
    color: #868686;
}

/* Searchbar area */
.sidebar-searchbar {
    flex-basis: 7%;
    background: #edeeec;
    text-align: center;
}

.text-input-bar i {
    font-size: 15px;
}

.search-account {
    width: 85%;
    height: 35px;
    margin: 10px;
    padding: 10px 10px;
}

/* Contact list */
.contact-list {
    flex-grow: 1;
    background: #fff;
}

.contact-list ul li {
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #bbbbbb;
}

.contact-list li:last-child {
    border-bottom: none;
}


/* MAIN MESSAGE AREA */
.main-content-message {
    flex-basis: 60%;
    display: flex;
    /* Gestione elementi interni in direzione verticale */
    flex-direction: column;
}

/* Main header */
.contact-bio {
    display: flex;
    align-items: center;
}

.name-access span {
    font-size: 10px;
    color: #868686;
}

.header-icons i {
    padding: 0 5px;
}

/* Message area */
.main-message-area {
    flex-grow: 1;
    /* Gestione barra di scorrimento verticale qualora i messaggi superassero l'altezza di visione interna al container */
    overflow-y: auto;
    background-image: url('../img/mine.jpg');
}

/* Insert text area */
.main-footer {
    flex-basis: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #edeeec;
}

.main-footer i {
    color: #868686;
    transition: color, .2s
}

.main-footer i:hover {
    color: #009788
}

.text-input-bar {
    flex-basis: 80%;
}

.text-bar {
    width: 100%;
    height: 45px;
    padding: 7px;
}





